/* === Separação === */
#botoes-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 6vh;
}

.link-botoes-inicio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    background: var(--amarelo-1);
    color: var(--cor-branca);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    padding: 1vw 0;
    width: 25vw;
}

.link-botoes-inicio:hover {
    opacity: 80%;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

@media (max-width: 1080px){
    #botoes-home {
        margin-top: 3vh;
    }

    .link-botoes-inicio {
        font-size: 18px;
        width: 30vw;
    }
}

/* === Separação === */
#section-filhotes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8vh;
}

.div-filhotes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.div-filhotes p {
    width: 35vw;
    color: var(--cor-cinza);
}

.div-filhotes img {
    width: 30vw;
}

.div-filhotes-reverse {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.div-filhotes-reverse p {
    width: 35vw;
    color: var(--cor-cinza);
}

.div-filhotes-reverse img {
    width: 30vw;
}

@media (max-width: 1080px){
    .div-filhotes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 7vh 0;
    }

    .div-filhotes-reverse {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .div-filhotes p {
        width: 90%;
        margin: 2vh 0;
    }
    
    .div-filhotes img {
        width: 70vw;
    }
    
    .div-filhotes-reverse p {
        width: 90%;
        margin: 2vh 0;
    }
    
    .div-filhotes-reverse img {
        width: 70vw;
    }
}

/* === Separação === */
#section-socias {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section-socias h2 {
    color: var(--rosa-1);
    margin-top: 7vh;
    text-align: center;
}

#todos-os-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 7vh;
    flex-wrap: wrap;
}

#todos-os-cards p {
    color: var(--rosa-1);
    font-size: 12px;
    text-align: center;
}

.cada-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
    border-radius: 20px;
}

.cada-card img {
    width: 18vw;
}

.cada-card a:hover {
    cursor: pointer;
}

.link-integrantes-rosa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 3vh 0;
}

.link-integrantes-rosa a {
    color: var(--rosa-1);
    font-size: 25px;
}

.link-integrantes-rosa a:hover{
    opacity: 50%;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.link-integrantes-amarelo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 3vh 0;
}

.link-integrantes-amarelo a {
    color: var(--amarelo-1);
    font-size: 25px;
}

.link-integrantes-amarelo a:hover{
    opacity: 50%;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

#cada-card-amarelo {
    box-shadow: 2px 2px 10px var(--amarelo-2);
}

#cada-card-rosa {
    box-shadow: 2px 2px 10px var(--rosa-5);
}

/* === Separação === */
#botao-instagram {
    background: var(--rosa-3);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 10vh;
    color: var(--cor-branca);
    padding: 3vh 0;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
}

#botao-instagram:hover {
    cursor: pointer;
    opacity: 80%;
    transition: ease-in-out 0.5s;
}

#icone-botao-instagram {
    font-size: 50px;
}

/* === Separação === */
#publicacoes-instagram {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10vh;
}

#publicacoes-instagram a img{
    width: 25vw;
    border-radius: 30px;
}

#publicacoes-instagram a img:hover{
    box-shadow: 2px 2px 10px var(--rosa-3);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

/* === Responsividade === */
@media (max-width: 1080px){
    #section-socias h2 {
        margin-top: 4vh;
        margin-bottom: -4vh;
        font-size: 20px;
    }

    #todos-os-cards p {
        font-size: 12px;
        padding: 1vh 4vw;
    }

    .cada-card {
        width: 45vw;
        height: 30vh;
        border-radius: 20px;
        margin-top: 3vh;
    }

    #cada-card-amarelo img {
        width: 35vw;
    }

    #cada-card-rosa img {
        width: 35vw;
    }

    .link-integrantes-amarelo a {
        margin: -3vh 0;
    }

    .link-integrantes-rosa a {
        margin: -3vh 0;
    }

    #botao-instagram {
        width: 90%;
        font-size: 12px;
        margin-bottom: -3vh;
    }

    #publicacoes-instagram a img{
        width: 50vw;
    }

    #publicacoes-instagram a {
        margin-top: 3vh;
    }
}