/* === Font === */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* === Variables === */
:root{
  --rosa-1: #E60965;
  --rosa-2: #FF4A95;
  --rosa-3: #ED5783;
  --rosa-4: #F8839F;
  --rosa-5: #FBA1B7;
  --amarelo-1: #FFB147;
	--amarelo-2: #FFD8A3;
  --cor-preta: #000000;
  --cor-cinza: #808080;
  --cor-branca: #FFFFFF;
}

/* === Generic Styles === */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--cor-branca);
  color: var(--cor-preta);
  min-height: 100vh;
}

/* === Barra de Rolagem === */

body::-webkit-scrollbar {
  width: 0.5vw;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--amarelo-1);
  width: 10px;
  border-radius: 10px;
}

/* === Separação === */
#primeira-apresentacao {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagem-homepage {
  width: 100%;
  margin-top: -20vh;
}

@media (max-width: 1080px){
  #imagem-homepage {
    margin-top: -15vh;
    /* height: 35vh; */
  }
}

/* === Separação === */
#imagem-construcao {
  margin-top: 10vh;
  width: 70%;
}

@media (max-width: 1080px){
  #imagem-construcao {
    margin-top: 5vh;
    width: 100%;
  }
}